/* this file contains styles for index.html */
/*------------------------------ Hero -----------------------------*/

.hero {
  color: white;
  background-color: #2f303a;
  text-transform: uppercase;
  height: 600px;
  width: 1600px;
  letter-spacing: 0.06em;
}
.hero-title {
  width: 696px;
  height: 120px;
  left: 452px;
  top: 160px;

  font-family: Roboto;
  font-style: normal;
  font-weight: 900;
  font-size: 44px;
  line-height: 136%;

  text-align: center;
  letter-spacing: 0.06em;
  text-transform: uppercase;
}
.hero-button {
  font-family: roboto;
  font-weight: 700;
  width: 200px;
  height: 50px;
  left: 700px;
  top: 350px;

  background: #2196f3;
  box-shadow: 0px 4px 4px #000;
  border-radius: 4px;
  font-size: 16px;
  line-height: 188%;
  letter-spacing: 0.06em;
  color: white;
}

/* -------------------------- Advantages --------------------------- */

.advantages .title {
  font-size: 14px;
  font-family: Roboto;
}
.advantages p {
  font-size: 14px;
  line-height: 171%;
  font-weight: 400;
  color: var(--paragraph-color);
}

/* ------------------------------ Team ------------------------------*/

.section-title {
  font-size: 36px;
  font-weight: 700;
}

.team {
  background: #f5f4fa;
}

.team .team-item {
  background-color: #ffffff;
  height: 368px;
  width: 270px;
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 0px 0px 4px 4px;
}
.team .team-member {
  font-size: 16px;
  font-weight: 500;
  text-align: center;
}
.team p {
  color: var(--paragraph-color);
  font-weight: 400;
  font-size: 16px;
  text-align: center;
}
