body {
    font-family: Roboto, sans-serif;
    color: black;
    letter-spacing: 0.03em;
    width: 1600px;
    text-decoration: none;
}

.link {
    text-decoration: none;
}

.list {
    list-style-type: none;
}

/* --------------------------- Header --------------------------------- */

.logo-link {
font-family: Raleway;

font-weight: bold;
font-size: 26px;
line-height: 31px;
color: black;
}

.logo-web {
    font-family: Raleway;
     color: #2196F3;
     font-weight: 700;
     text-decoration: none;
}

.site-nav a {
font-size: 14px;
font-weight: 500;
color: #212121;
}
.site-nav a:hover {
    color: #2196F3;
}

.outsite-nav a:hover {
    color: #2196F3;
}
.outsite-nav a {
    font-size: 14px;
    font-weight: 500;
    color: #757575;
}


/*------------------------------ Hero -----------------------------*/

.hero {
    color: white;
    background-color: #2f303a;
    text-transform: uppercase;
    height: 600px; width: 1600px;
    letter-spacing: 0.06em;
}
.hero-title {
        width: 696px;
        height: 120px;
        left: 452px;
        top: 160px;

        font-family: Roboto;
        font-style: normal;
        font-weight: 900;
        font-size: 44px;
        line-height: 136%;

        text-align: center;
        letter-spacing: 0.06em;
        text-transform: uppercase;
}
.hero-button { 
    font-family: roboto;
    font-weight: 700;
width: 200px;
height: 50px;
left: 700px;
top: 350px;

background: #2196F3;
box-shadow: 0px 4px 4px #000);
border-radius: 4px;
font-size: 16px;
line-height: 188%;
letter-spacing: 0.06em;
color: white;
}

.advantages h3 {
    font-size: 14px;
    font-family: Roboto;
}
.advantages p {
    font-size: 14px;
    line-height: 171%;
    font-weight: 400; 
    color: #757575;
    letter 
    
}

/* ------------------------------ Team ------------------------------*/

.section-title {
    font-size: 36px; 
    font-weight: 700;
}

.team {
    background: #f5f4fa
}

.team li {
    background-color: #ffffff;
    height: 368px; 
    width: 270px;
    font-style: ble;
}
.team h3 {
    font-size: 16px;
    font-weight: 500;
    text-align: center;
}
.team p {
    color: #757575;
    font-weight: 400;
    font-size: 16px;
    text-align: center;   
}

/*------------------------------ Footer -----------------------------*/

footer {
    background-color: #2f303a;
    height: 252px;
    width: 1600px;
}

.footer-logo {
    color: #ffffff;
    font-size: 26px;
    font-family: Raleway;
}

a.footer-contact {
    color: #ffffff;
    font-size: 14px;
    font-weight: 400;
    line-height: 171%;
}

.footer-adress {
    color: white;
    font-size: 14px;
    font-weight: 400;
    line-height: 171%;
}

.footer-nav a:hover {
    color: #2196F3; 
}
/* --------------------------- Portfolio -------------------------- */
.portfolio-buttons button:hover {
     background-color: #2196F3;
     color: white;
    
}
.portfolio-buttons button {
    font-size: 16px;
    line-height: 162%;
    font-weight: 500;
    box-shadow: 0px 3px 1px #000, 0px 1px 2px #000, 0px 2px 2px #000;
    border-radius: 4px;
    height: 38px;
    font-family: Roboto;
}
.p-button-1 {
    width: 73px;
}
.p-button-2 {
    width: 128px;
}
.p-button-3 {
    width: 145px; 
}
.p-button-4 {
    width: 103px;    
}
.p-button-5 {
    width: 130px;
}
.p-images-все h3 {
    font-size: 18px;
    font-weight: 700;
    line-height: 200%;
}

.p-images-все p {
    font-size: 16px;
    font-weight: 400;
    line-height: 188%;
    color: #757575;
}